@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&family=Fira+Sans:wght@400;500;600;700&display=swap");

$primary-font: "Karla", sans-serif;
$secondary-font: "Karla", sans-serif; //change Karla to Fira Sans for secondary font

$primary-text-color: #fbfbfb;
$secondary-text-color: #eaeaea;

$primary-background-color: #0e1017;
$footer-background-color: #0f121d;

// $primary-text-color: #fbfbfb;
// $primary-background-color: #0e1017;
